ul.social-networks{
    list-style: none;
    padding: 0;
}
ul.social-networks li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35px;
    color: white;
    padding: 10px;
}
.fa-facebook-official:hover{
    color: rgb(4, 4, 129);
}

.fa-instagram:hover{
    color: rgb(228, 2, 126);
}

.fa-linkedin:hover{
    color: rgb(110, 154, 250);
}