<footer class="bg-secondary">
    <div class="container ">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="row">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <div class="row">
               <ul class="social-networks">
                   <li>
                       <a href="https://www.facebook.com/Alessandro.djr" target="_blank" class="icoFacebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                   </li>
                   <li>
                    <a href="https://www.instagram.com/alessandro.djr/" target="_blank" class="icoInstagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> 
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/alessandrodjr/" target="_blank" class="icoLinkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
               </ul>
            </div>
        </div>
    </div>

</footer>
